In [1]:
# dados fin
import yfinance as yf

start = '2021-01-01'
end = '2023-01-01'

data = yf.download('AAPL', 
                   start=start,
                   end=end)

data.head()

data.to_csv('data_/AAPL.csv')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.503639,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,129.080063,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.735008,155088000
2021-01-07,128.360001,131.630005,127.860001,130.919998,128.991394,109578200
2021-01-08,132.429993,132.630005,130.229996,132.050003,130.104752,105158200

In [ ]:
import pandas as pd

# Carregando os dados hist√≥ricos do arquivo CSV
data = pd.read_csv('caminho/do/arquivo.csv')