In [1]:
import pandas as pd
import yfinance as yf

In [51]:
ticker = 'CL=F'
start = '2019-01-09'
end = '2023-06-09'

In [52]:
dados = yf.download(tickers = ticker,
                    start = start,
                    end = end)

[*********************100%***********************]  1 of 1 completed

In [53]:
dados = pd.DataFrame(dados)

In [54]:
dados

                 Open       High        Low      Close  Adj Close  Volume
Date
2019-01-09  49.799999  52.580002  49.709999  52.360001  52.360001  891922
2019-01-10  52.180000  52.779999  51.369999  52.590000  52.590000  821782
2019-01-11  52.279999  53.310001  51.180000  51.590000  51.590000  812339
2019-01-14  51.730000  52.110001  50.380001  50.509998  50.509998  791527
2019-01-15  50.779999  52.299999  50.639999  52.110001  52.110001  664183
...               ...        ...        ...        ...        ...     ...
2023-06-02  70.209999  72.169998  70.000000  71.739998  71.739998  322596
2023-06-05  75.029999  75.059998  71.730003  72.150002  72.150002  383943
2023-06-06  71.989998  72.330002  70.129997  71.739998  71.739998  314962
2023-06-07  71.559998  73.190002  71.010002  72.529999  72.529999  299127
2023-06-08  72.470001  73.279999  69.029999  71.290001  71.290001  485396

[1112 rows x 6 columns]

In [55]:
dados.to_csv(f'{ticker}.csv')