In [1]:
import pandas as pd
import yfinance as yf

In [3]:
dados = yf.download(tickers = 'AAPL',
                    start = '2021-01-09',
                    end = '2023-01-09')

[*********************100%***********************]  1 of 1 completed

In [4]:
dados = pd.DataFrame(dados)

In [5]:
dados

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-11,129.190002,130.169998,128.500000,128.979996,127.079987,100384500
2021-01-12,128.500000,129.690002,126.860001,128.800003,126.902626,91951100
2021-01-13,128.759995,131.449997,128.490005,130.889999,128.961853,88636800
2021-01-14,130.800003,131.000000,128.759995,128.910004,127.011032,90221800
2021-01-15,128.779999,130.220001,127.000000,127.139999,125.267075,111598500
...,...,...,...,...,...,...
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.552719,77034200
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.706833,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.993095,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.656975,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.243622,87754700