In [1]:
import pandas as pd
import yfinance as yf

In [11]:
ticker = 'META'
start = '2019-01-09'
end = '2023-06-09'

In [12]:
dados = yf.download(tickers = ticker,
                    start = start,
                    end = end)

[*********************100%***********************]  1 of 1 completed

In [13]:
dados = pd.DataFrame(dados)

In [14]:
dados

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-09,142.949997,144.699997,141.270004,144.229996,144.229996,22205900
2019-01-10,143.080002,144.559998,140.839996,144.199997,144.199997,16125000
2019-01-11,143.149994,145.360001,142.570007,143.800003,143.800003,12908000
2019-01-14,142.000000,146.570007,141.270004,145.389999,145.389999,20520300
2019-01-15,146.009995,150.679993,145.990005,148.949997,148.949997,24069000
...,...,...,...,...,...,...
2023-06-02,272.660004,275.350006,271.119995,272.609985,272.609985,19405300
2023-06-05,270.299988,275.570007,269.559998,271.390015,271.390015,20742900
2023-06-06,270.140015,276.570007,269.690002,271.119995,271.119995,19419000
2023-06-07,271.670013,274.250000,262.799988,263.600006,263.600006,26163600
2023-06-08,260.619995,267.649994,258.880005,264.579987,264.579987,20899400

In [15]:
dados.to_csv(f'{ticker}.csv')