In [1]:
import pandas as pd
import yfinance as yf

In [16]:
ticker = 'TSLA'
start = '2019-01-09'
end = '2023-06-09'

In [17]:
dados = yf.download(tickers = ticker,
                    start = start,
                    end = end)

[*********************100%***********************]  1 of 1 completed

In [18]:
dados = pd.DataFrame(dados)

In [19]:
dados

             Open   High    Low  Close  Adj Close    Volume
Date
2019-01-09  9.700  9.700  9.700  9.700      9.700    165300
2019-01-10  9.700  9.700  9.700  9.700      9.700       100
2019-01-11  9.750  9.750  9.750  9.750      9.750    500200
2019-01-14  9.780  9.800  9.760  9.800      9.800    238300
2019-01-15  9.780  9.910  9.780  9.800      9.800     42700
...           ...    ...    ...    ...        ...       ...
2023-06-02  0.600  0.602  0.563  0.586      0.586  34755400
2023-06-05  0.582  0.586  0.556  0.556      0.556  39734600
2023-06-06  0.557  0.570  0.521  0.542      0.542  44064500
2023-06-07  0.558  0.600  0.541  0.593      0.593  41481900
2023-06-08  0.587  0.655  0.582  0.609      0.609  56063800

[1112 rows x 6 columns]

In [20]:
dados.to_csv(f'{ticker}.csv')