In [1]:
import pandas as pd
import yfinance as yf

In [56]:
ticker = 'GC=F'
start = '2019-01-09'
end = '2023-06-09'

In [57]:
dados = yf.download(tickers = ticker,
                    start = start,
                    end = end)

[*********************100%***********************]  1 of 1 completed

In [58]:
dados = pd.DataFrame(dados)

In [59]:
dados

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-09,1279.400024,1289.300049,1279.199951,1289.300049,1289.300049,102
2019-01-10,1284.699951,1284.699951,1284.699951,1284.699951,1284.699951,0
2019-01-11,1291.199951,1291.199951,1286.300049,1287.099976,1287.099976,11
2019-01-14,1292.400024,1293.900024,1289.099976,1289.099976,1289.099976,7
2019-01-15,1290.099976,1292.699951,1286.199951,1286.199951,1286.199951,3
...,...,...,...,...,...,...
2023-06-02,1977.099976,1982.500000,1947.400024,1952.400024,1952.400024,356
2023-06-05,1947.500000,1961.900024,1937.800049,1958.000000,1958.000000,713
2023-06-06,1960.800049,1965.500000,1958.800049,1965.500000,1965.500000,164
2023-06-07,1959.000000,1968.400024,1940.699951,1942.699951,1942.699951,139
2023-06-08,1943.199951,1969.000000,1943.099976,1963.599976,1963.599976,433

In [60]:
dados.to_csv(f'{ticker}.csv')