In [1]:
import pandas as pd
import yfinance as yf

In [ ]:
tickers = 'AAPL'
start = '2019-01-09'
end = '2023-06-09'

In [6]:
dados = yf.download(tickers = tickers,
                    start = s,
                    end = '2023-06-09')

[*********************100%***********************]  1 of 1 completed

In [7]:
dados = pd.DataFrame(dados)

In [8]:
dados

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-09,37.822498,38.632500,37.407501,38.327499,36.885353,180396400
2019-01-10,38.125000,38.492500,37.715000,38.450001,37.003254,143122800
2019-01-11,38.220001,38.424999,37.877499,38.072498,36.639954,108092800
2019-01-14,37.712502,37.817501,37.305000,37.500000,36.088997,129756800
2019-01-15,37.567501,38.347500,37.512501,38.267502,36.827614,114843600
...,...,...,...,...,...,...
2023-06-02,181.029999,181.779999,179.259995,180.949997,180.949997,61945900
2023-06-05,182.630005,184.949997,178.039993,179.580002,179.580002,121946500
2023-06-06,179.970001,180.119995,177.429993,179.210007,179.210007,64848400
2023-06-07,178.440002,181.210007,177.320007,177.820007,177.820007,61944600
2023-06-08,177.899994,180.839996,177.460007,180.570007,180.570007,50214900

In [ ]:
dados.to_csv('')