In [1]:
# dados
import pandas as pd
import yfinance as yf
import warnings

warnings.filterwarnings('ignore')

In [2]:
dados = yf.download("AAPL", 
                    start='2020-01-01',
                    end='2023-01-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
#dados = pd.DataFrame(dados)

In [4]:
dados

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.347946,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.634850,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.213623,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.869301,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,74.041489,132079200
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.477127,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.652435,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.674019,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.233658,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.552719,77034200